*.o
*.lo
*.a
*.la
Makefile
Makefile.in
**/*/.deps
**/*/.libs

aclocal.m4
ar-lib
autom4te.cache/
build/
cfg
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
mysql-chassis.pc
mysql-proxy.pc
mysql-proxy.spec
preps
scripts/mysql-binlog-dump
scripts/mysql-myisam-dump
scripts/mysql-proxy
src/mysql-binlog-dump
src/mysql-myisam-dump
src/mysql-proxy
stamp-h1
test-driver
test.rb
tests/c-api-burst
ylwrap

lib/sql-tokenizer-gen
lib/sql-tokenizer-keywords.c
lib/sql-tokenizer.c

